body {
    box-sizing: border-box;
    background-color: white;
    margin:0;
    padding:0;
    font-family: 'Montserrat','sans serif';
}

/**************HEADER*******************/

header {
    background-color: #1B84A1;
    font-size: 16px;
    font-weight: 600;
    display: inline-flex;
    flex-direction: row;
    width:100%;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 20px;
   }

header img {
    height: 90px;;
}

/*NAV BAR*/

nav button{
    font-family: 'Montserrat','sans serif';
    background-color: transparent;
    outline: none;
    border-left: none;
    border-bottom: none;
    border-top: none;
    border-right: 1.5px solid #003841;
    text-align: center;
    padding-right: 23px;
    padding-left:23px;
    margin-top: 35px;
}

header nav a {
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    color: white;
    display: inline-flex;
    padding-top: 5px;  
    padding-bottom: 5px;
    text-align: center;
}

header nav a:active {
    text-decoration: none;
    color:#003841;
}

header nav a:hover {
    text-decoration: none;
    color:#003841;
}

header nav button{
    display: inline-flex;
    justify-content: space-between;
    
 }

 header nav button:last-child{
    margin-right: none;
    border-right: none;
  }


/****MAIN GENERAL******/

main {
    width: 100%;
}

main img {
    width:100%;
}

main h1{
    font-weight: 600;
}
/**********MAIN HOME************/

/*PORTADA*/

.homediv1{
    width: 100%;
    height: 150px;
    background-color: white;
    
    position: absolute;
    bottom: 125px;
    z-index: 20;
}

.homediv2{
    font-weight: 600;
    font-size: 30px;
    color:#003841;
    justify-content: right;
    padding-right: 0px;
    position: absolute;
    bottom:170px;
    left: 860px;
    z-index: 30;
    
}
.homediv3{
    font-weight: 600;
    font-size: 30px;
    color:#003841;
    justify-content: right;
    padding-right: 0px;
    position: absolute;
    bottom:122px;
    left: 665px;
    z-index: 30;
    
}

/*ARTICULOS HOME*/

article{
    font-weight: 500;
    font-size: 25px;
    color:#003841; 
    text-align: center;

}


.ofrecemos{
    display: inline-flex;
    justify-content: space-evenly;
    flex-direction: row;
    background-color: white;
    
}

.ofrecemos img{
    width: 10%;
    margin-right: 30px;
}


.ofrecemos2{
    width: 100%;
    color: #212121;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 80px;
    background-color: white;
}

.intro{
    background-color:#07617A;
    color: white;
    padding-bottom:30px;
}

.titulo{
    font-weight: 600;
    padding-top:65px;
    padding-bottom: 30px;
}


/**********MAIN NOSOTROS**************/

/**********MAIN SERVICIOS**************/

/***********MAIN CONTACTO**************/

.contacto1{
    display:flexbox;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: white;
    color: #003841;
    font-weight: 500;
    font-size: 24px;
    padding-top: 25px;
    padding-bottom: 15px;
    padding-left: 165px;
    
}

.contacto2{
    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color:#F0F0F0;
    color: #212121;
    padding-top: 55px;
    width:100%;
}

iframe {
    padding-bottom: 60px;
    padding-top: 15px;
}

.contacto3{
    text-align: center;
    padding-left: 0%;
    font-weight: 600;
    padding-top: 35px;
    padding-bottom: 25px;
}


  /*************FOOTER 1****************/

  .footer1 {
    background-color: #1B84A1;
    height:60px;
    font-size: 14px;
    font-weight: 500;
    display: inline-flex;
    flex-direction: row;
    width:100%;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 25px;
    color: white;
  }

  .footer1 img {
    height: 40px;
    margin-right: 15px;
    padding-top: 6px;
  }


  .footer1 div {
    display: inline-flex;
    flex-direction: row; 
    padding-right: 25px;
  }

  .footer1 div:last-child{
    margin-right: none;
    border-right: none;
    padding-right: none;
  }

  /************FOOTER 2*****************/

  .footer2{
    display: inline-flex;
    justify-content: space-around;
    font-weight: 300;
    color: white;
    background-color:#07617A;
    width: 100%;
    height: 40px;
    padding-top: 5px;
    font-size:11px;
    text-decoration: none;
  }

  .footer2 p a{
      text-decoration: none;
      color: white;
      font-weight: 500;
  }