body {
    box-sizing: border-box;
    background-color: white;
    margin:0;
    padding:0;
}

/*HEADER*/

header {
    background-color: #1B84A1;
    font-family: 'Montserrat','sans-serif';
    font-size: 16px;
    font-weight: 600;
    display: inline-flex;
    flex-direction: row;
    width:100%;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 20px;
   }

header img {
    height: 90px;;
}

nav button{
    background-color: transparent;
    outline: none;
    border-left: none;
    border-bottom: none;
    border-top: none;
    border-right: 1.5px solid #003841;
    text-align: center;
    padding-right: 23px;
    padding-left:23px;
    margin-top: 35px;
}

header nav a {
    font-family: 'Montserrat','sans-serif';
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    color: white;
    display: inline-flex;
    padding-top: 5px;  
    padding-bottom: 5px;
    text-align: center;
}

header nav a:active {
    text-decoration: none;
    color:#003841;
}

header nav a:hover {
    text-decoration: none;
    color:#003841;
}

header nav button{
    display: inline-flex;
    justify-content: space-between;
    
 }

 header nav button:last-child{
    margin-right: none;
    border-right: none;
  }


/*MAIN GENERAL*/

main {
    width: 100%;
}

main img {
    width:100%;
}

main h1{
    font-weight: 600;
}
/*MAIN HOME*/

.homediv1{
    width: 100%;
    height: 150px;
    background-color: white;
    opacity: 0.5;
    position: absolute;
    bottom: 125px;
    z-index: 20;
}

.homediv2{
    font-family: 'Montserrat', 'sans serif' ;
    font-weight: 600;
    font-size: 30px;
    color:#003841;
    justify-content: right;
    padding-right: 0px;
    position: absolute;
    bottom:170px;
    left: 860px;
    z-index: 30;
    
}
.homediv3{
    font-family: 'Montserrat', 'sans serif' ;
    font-weight: 600;
    font-size: 30px;
    color:#003841;
    justify-content: right;
    padding-right: 0px;
    position: absolute;
    bottom:122px;
    left: 665px;
    z-index: 30;
    
}

/*MAIN NOSOTROS*/

/*MAIN SERVICIOS*/

/*MAIN CONTACTO*/

.contacto1{
    display:flexbox;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: white;
    color: #003841;
    font-family: 'Montserrat', 'sans serif';
    font-weight: 500;
    font-size: 24px;
    padding-top: 25px;
    padding-bottom: 15px;
    padding-left: 165px;
    
}

.contacto2{
    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color:#F0F0F0;
    color: #212121;
    font-family: 'Montserrat', 'sans serif';
    padding-top: 55px;
    width:100%;
}

iframe {
    padding-bottom: 60px;
    padding-top: 15px;
}

.contacto3{
    text-align: center;
    padding-left: 0%;
    font-weight: 600;
    padding-top: 35px;
    padding-bottom: 25px;
}


/*letra sobre blanco: #4A4A4A*/


  /*FOOTER*/

  footer {
    background-color: #1B84A1;
    font-family: 'Montserrat','sans-serif';
    font-size: 14px;
    font-weight: 500;
    display: inline-flex;
    flex-direction: row;
    width:100%;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 25px;
    color: white;
  }

  footer img {
    height: 32px;
    margin-right: 15px;
    padding-top: 8px;
  }


  footer div {
    display: inline-flex;
    flex-direction: row; 
    padding-right: 25px;
  }

  footer div:last-child{
    margin-right: none;
    border-right: none;
    padding-right: none;
  }
