

/******************PARTIALS********************/

@media (max-width:917px){

    /*******HEADER*******/

    .wrapper{
      position: absolute;
      top: 72px;
      right:0%;
      z-index:35 ;
    }
    
    .wrapper .container{
      width: 180px;
    }
    
    .wrapper .hamburger_btn{
      width: 50px;
      height: 44px;
      left:65%;
      position: relative;
      cursor: pointer;
      top:-55px;
    }
    
    .wrapper .hamburger_btn > div{
      position: absolute;
      top: 45%;
      left: 25%;
      width: 50%;
      height: 3px;
      background: #fff;
      transition: all 0.3s linear;
    }
    
    .wrapper .hamburger_btn .one{
      top: 25%;
    }
    
    .wrapper .hamburger_btn .three{
      top: 65%;
    }
    
    .wrapper .container .menu{
      width: 180px;
      height: auto;
      margin: 0 auto;
      background: #1B84A1;
      position: absolute;
      top: -10px;
      transition: all 0.5s linear;
      display: none;
      flex-direction: column;
      justify-content: flex-end;
    }
    
    .wrapper .container .menu button{
      transition: all 0.2s linear;
    }
    
    .wrapper .container .menu button a{
      padding: 10px;
      font-size: 12px;
      transition: all 0.2s linear;
    }
    
    .wrapper .container .menu:before{
      position: absolute;
      top: -19px;
      left: 50%;
      transform: translateX(-50%);
      border-top: 10px solid transparent;
      border-bottom: 10px solid #fff;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
    }
    
    .wrapper .hamburger_btn.active{
      transform: rotate(90deg);
    }
    
    .wrapper .hamburger_btn.active .one{
        top: 45%;
        left: 25%;
        transform: rotate(45deg);
    }
    
    .wrapper .hamburger_btn.active .two{
      opacity: 0;
    }
    
    .wrapper .hamburger_btn.active .three{
        top: 45%;
        left: 25%;
        transform: rotate(-45deg);
    }
    
    .wrapper .container .menu.active{
      display:flex;
      top: -3px;
    }  

      header nav button{
        border:none;  
        padding: 0;
        margin-top:10px;
        margin-bottom:10px;
        display: flex;
        justify-content: flex-end;
      }

      header{
        justify-content: space-between;
      }

      header img{
        margin-left: 20px;
        height: 40px;
    }

}

@media (max-width:767px){


    /**********FOOTERS************/

    .footer1{
      min-height: 70px;
      display: flex;
      flex-direction: column;
      align-items: center;
      align-self: baseline;
      padding:100px 0 100px 0;
  }

  .footer1 div{
      width:100%;
      padding:0;
      display:flex;
      flex-direction: column;
      align-items:center;
      align-self: center;
      padding-top: 10px;
  }

  .footer1 img{
      height: 30px;
      padding:5px 0 10px 0;
  }

  .footer1 p{
      padding:0px;
  }

  .footer1 a{
      padding-top: 0%;
      background-color:none;
  }

  .footer2{
      height:60px;
      background-color: #07617A;
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .footer2 p{
  padding-bottom: 15px;
  padding-left: 10px; 
  }
}


/************************PAGINAS***************************/

@media (max-width:767px){

  /*********CONTACTO**********/

    .contacto1{
      padding:25px 10px 30px 15px;
      font-size: 16px;
      text-align: center;
    }

    .contacto2{
      flex-direction: column;
      align-items: center;
    }

    .contacto2 p{
      padding-left: 20px;
    }

    .contacto2 h1{
      padding-left: 20px;
    }

    .contacto3{
      font-size: 18px;
    }

    /******SERVICIOS A TERCEROS*******/

    .terceros1 p{
      font-size: 16px;
      padding:0 15px 0 15px;
    }

    .terceros1 h1{
      padding-bottom:15px;
    }

    .terceros2{
      width:100%;
      flex-direction: column;
      align-items: center;
    }

    .serviciosTerceros{
      max-height:510px;
      width:100%;
    }


    /************ESTUDIOS************/

    .estudios h1{
      margin-bottom:40px;
    }

    .estudios p{
      font-size: 16px;
      padding:0 25px 0 25px;
    }

    .estudios{
      width:100%;
    }

    .estudiosBoton1 {
      margin-bottom: 10px;
      font-size: 10px;
      font-weight: 700;
    }

    .estudiosBoton1 img{
      padding:12px 20px 12px 10px;
      width: 70px;
      height: 70px;
    }

    .estudiosBoton2 {
      margin-bottom: 10px;
      font-size: 10px;
      font-weight: 700;
    }

    .estudiosBoton2 img{
      padding:12px 20px 12px 10px;
      width: 70px;
      height: 70px;
    }
    
    .estudiosDescripcion {
      padding: 0 18px;
    }
  
    .estudiosDescripcion ul{
        margin:20px 0px 25px 0px;
    }
  
    .estudiosDescripcion ul li{
        font-size: 11px;
    }

    .estudiosBoton1:after {
      font-size: 25px;
    }
  
    .estudiosBoton2:after {
      font-size: 25px;
    }
    
    .estudiosBoton1 .active:after {
      font-size: 40px; 
    }

    /************NOSOTROS**************/
  
    .sobreNosotros{
      width: 95%;
      display:flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 15px;
    }

    .sobreNosotros:first-child{
     margin-top: -30px;
    }

    .sobreNosotros img{
      display: flex;
      order:1;
      width:100%;
      margin-top:-30px;
    }
  
    .sobreNosotros .p{
      display: flex;
      justify-content: center;
      align-items:center;
      order:2;
      width:100%;
      height: 224px;
      font-size: 14px;
      margin-top:15px;
    }
    .mision-vision{
        padding:10px;
    }

    .pTitulo{
      display:flex;
      justify-content: center;
      font-size: 25px;
      z-index: 30;
      color:white;
      position: relative;
      top:100px;
    }

    .pTitulo2{
      display: none;
    }

    .equipoDirectores{
    width:100%;
    flex-direction: column;
    align-items: center;
    margin-top: 110px;
    }

    .miembro{
    margin-bottom: 140px;
    }

    .equipo{
      margin-top: 0;
    }

    /************HOME**************/

 
    /*CAROUSEL*/

  .mySlides{
    width:100%;
    height:200px;
  }

  @supports(object-fit: cover){
    .mySlides img{
      height: 126%;
      object-fit: cover;
      object-position: center center;
    }
  }

  .homediv1{
    height: 100px;
    text-align: center;
    bottom: 5px;
    font-size: 18px;
    padding-top: 40px;
  }

  .homediv1 p{
    width:85%;
  }

  .homediv1 p:first-child{
    padding-bottom: 0px;
  }

  /*ARTICULO HOME 1*/

  .intro{
    font-size: 16px;
    padding: 90px 0px 40px 0px;
  }
  .intro p{
    padding-top: 5px;
    padding-inline:16px
  } 

  /*ARTICULO HOME 2*/

  .titulo{
    padding-top: 50px;
    padding-bottom: 30px;
    font-size: 20px;
  }

  .ofrecemos{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;  
    flex-wrap: wrap;
    margin-bottom:20px;
  }

  .ofrecemos img{
    width:90px;
  }


  .ofrecemos2{
    width: 50%;
    justify-content:space-evenly;
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 30px;
    padding-top: 5px;
  } 

  /*ARTICULO HOME 3*/

  @supports(object-fit: cover){
    .turnos img{
      height: 200px;
      object-fit: cover;
      object-position: center center;
    }
  }

  .turnos1{
    height: 200px;
    font-size:20px;
    font-weight: 500;
  }

  .turnos1 p:first-child{
    padding-top:70px;
    padding-bottom: 10px;
  }


}

/**********CAMBIOS PARA PANTALLAS GRANDES**************/

@media (min-width:1500px){

/***********HOME***********/

.homediv1{}

}