

/******************PARTIALS********************/

@media (max-width:767px){

    /*******HEADER*******/

    .wrapper{
        position: absolute;
        top: 31.5%;
        left: 72.1%;
        transform: translate(-50%,-50%);
        z-index: 30;
      }
      
      .wrapper .container{
        width: 100px;
        
      }
      
      .wrapper .hamburger_btn{
        width: 50px;
        height: 50px;
        margin: 0 85px 16px;
        position: relative;
        cursor: pointer;
      }
      
      .wrapper .hamburger_btn > div{
        position: absolute;
        top: 45%;
        left: 30%;
        width: 50%;
        height: 3px;
        background: #fff;
        border-radius: 50px;
        transition: all 0.3s linear;
      }
      
      .wrapper .hamburger_btn .one{
        top: 25%;
      }
      
      .wrapper .hamburger_btn .three{
        top: 65%;
      }
      
      .wrapper .container .menu{
        width: 150px;
        border:none;
        display: flex;
        flex-direction: column; 
        height: auto;
        margin: 0 auto;
        background:  #1B84A1;
        position: relative;
        opacity: 0;
        top: -10px;
        transition: all 0.5s linear;
        display: flex;
        
      }

      header nav button{
        border:none;  
        padding: 0;
        margin-top:10px;
        margin-bottom:10px;
        display: flex;
        justify-content: flex-end;
      }

      .wrapper .container .menu button a{
        padding: 10px;
        font-size: 12px;
        display: flex;
        transition: all 0.2s linear;
      }
      
      .wrapper .container .menu a:before{
        position: absolute;
        top: -19px;
        left: 50%;
        transform: translateX(-50%);
        border-top: 10px solid transparent;
        border-bottom: 10px solid #fff;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
      }
      
      .wrapper .hamburger_btn.active{
        transform: rotate(90deg);
      }
      
      .wrapper .hamburger_btn.active .one{
          top: 45%;
          left: 25%;
          transform: rotate(45deg);
      }
      
      .wrapper .hamburger_btn.active .two{
        opacity: 0;
      }
      
      .wrapper .hamburger_btn.active .three{
          top: 45%;
          left: 25%;
          transform: rotate(-45deg);
      }
      
      .wrapper .container .menu.active{
        opacity: 1;
        top: 0px;
      }

    header img{
        margin-left: 25px;
        align-self: center;
        height: 65px;
    }

    header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }


    /**********FOOTERS************/

    .footer1{
        min-height: 70px;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: baseline;
        padding:100px 0 100px 0;
    }

    .footer1 div{
        width:100%;
        padding:0;
        display:flex;
        flex-direction: column;
        align-items:center;
        align-self: center;
        padding-top: 10px;
    }

    .footer1 img{
        height: 30px;
        padding:5px 0 10px 0;
    }

    .footer1 p{
        padding:0px;
    }

    .footer1 a{
        padding-top: 0%;
        background-color:none;
    }

    .footer2{
        height:60px;
        background-color: #07617A;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer2 p{
    padding-bottom: 15px;
    padding-left: 10px; 
    }
}

/************************PAGINAS***************************/

@media (max-width:767px){

  /*********CONTACTO**********/

    .contacto1{
      padding:25px 10px 30px 15px;
      font-size: 16px;
      text-align: center;
    }

    .contacto2{
      flex-direction: column;
      align-items: center;
    }

    .contacto2 p{
      padding-left: 20px;
    }

    .contacto2 h1{
      padding-left: 20px;
    }

    .contacto3{
      font-size: 18px;
    }

    /******SERVICIOS A TERCEROS*******/

    .terceros1 p{
      font-size: 16px;
      padding:0 15px 0 15px;
    }

    .terceros1 h1{
      padding-bottom:15px;
    }

    .terceros2{
      width:100%;
      flex-direction: column;
      align-items: center;
    }

    .serviciosTerceros{
      max-height:510px;
      width:100%;
    }


    /************ESTUDIOS************/

    .estudios h1{
      margin-bottom:40px;
    }

    .estudios p{
      font-size: 16px;
      padding:0 25px 0 25px;
    }

    .estudios{
      width:100%;
    }

    .estudiosBoton1 {
      margin-bottom: 10px;
      font-size: 10px;
      font-weight: 700;
    }

    .estudiosBoton1 img{
      padding:12px 20px 12px 10px;
      width: 70px;
      height: 70px;
    }

    .estudiosBoton2 {
      margin-bottom: 10px;
      font-size: 10px;
      font-weight: 700;
    }

    .estudiosBoton2 img{
      padding:12px 20px 12px 10px;
      width: 70px;
      height: 70px;
    }
    
    .estudiosDescripcion {
      padding: 0 18px;
    }
  
    .estudiosDescripcion ul{
        margin:20px 0px 25px 0px;
    }
  
    .estudiosDescripcion ul li{
        font-size: 11px;
    }

    .estudiosBoton1:after {
      font-size: 35px;
    }
  
    .estudiosBoton2:after {
      font-size: 35px;
    }
    
    .estudiosBoton1 .active:after {
      font-size: 50px; 
    }

}